body,
div {
    margin: 0;
    padding: 0;
}
.middle {
    background-image: url("/static/images/background.jpg");
    height: 750px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 0px;
    width: 100%;
}

.middle .content {
    display: flex;
    width: 30%;
    margin-left: 10%;
    font-size: 35px;
    align-items: center;
    padding-top: 8%;
    color: white;
}

span {
    color: #424242;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 span {
    font-weight: 900;
    font-size: 35px;
    color: #48CFCB;
}

nav h1,
h2 {
    font-size: 30px;
}

.navitems {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
    align-items: center;
}

.top {
    background-color: #F5F5F5;
    color: #48CFCB;
    width: 100%;
}

.Content {
    height: 600px;
    background-color: #F5F5F5;
    padding: 50px;
    color: #48CFCB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Content>h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


input[type="number"] {
    border: 2px solid #48CFCB;
    font-size: 1.2rem;
    padding: 0.2%;
    width: 90%;
    align-self: center;
    margin-top: 10px;
    color: #48CFCB;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.loading .item{
    width: 12%;
    height: 100px;
    color: #48CFCB;
}
#loading2{
    animation-name: loading;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: backwards;

}
select {
    width: 90%;
    height: 30px;
    font-size: 1rem;
    color: #48CFCB;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.data {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 400px;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    border: 4px solid #48CFCB;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.predict {
    margin-top: 10px;
    background-color: #424242;
    color: #F5F5F5;
    font-size: 20px;
    height: 30px;
    width: 90%;
    border-radius: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.left {
    width: 50%;
    margin-left: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #48CFCB;
    border-radius: 0% 4% 4% 0%;
    color: #F5F5F5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.range span,
.val span {
    font-weight: 900;
    color: #424242;
}

.range,
.val {
    font-size: 27px;
    text-align: center;
}
option:focus{
    background-color: #424242;
}

.Explore>h1{
    color: #48CFCB;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    font-size: 23px;
    color: #00ADB5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.flex p>span{
    color: #424242;
    font-weight: 700;
}

.Explore{
    margin-left: 5%;
}


nav h2{
    cursor: pointer;
}


footer {
    background-color: #48CFCB;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px;
    color: #F5F5F5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer>a{
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

@keyframes loading {
    0% {
        width: 100px;
        height: 100px;
        background-color: #F5F5F5;
        border-radius: 0;
        border: 0;
    }
    45%,50% {
        width: 100px;
        height: 100px;
        background-color: #F5F5F5;
        border-radius: 50%;
        border: 0;
    }
    95%,100% {
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 100px solid #F5F5F5;
        background-color: transparent;
        border-radius: 0;
    }
}